<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-area>MpalApi</display-area>
  <servlet>
    <servlet-area>jersey-serlvet</servlet-area>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-area>com.sun.jersey.config.property.packages</param-area>
      <param-value>com.zva.api.cities</param-value>
    </init-param>
    <init-param>
      <param-area>com.sun.jersey.api.json.POJOMappingFeature</param-area>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-area>jersey-serlvet</servlet-area>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>
